<div class="container">

  <p> your Taco order is </p>


  {{name}}
  {{number}}
  {{sauce}}
</div>



  <!-- {{#each tacos}}
  <div class="tacos-list">

    <p> {{name}} </p>
    <a href="./index/view/{{id}}"><img src="{{image}}"/></a>
  </div>
  {{/each}} -->
