
<div class="tacos">
  <img class="img-square" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Name: {{name}}</div>
  <div>Flavour: {{flavour}}</div>
</div>

<form class="form" action="/index/view/yourOrder" method="post">

  <label for="customername" class="form-item">
    Customer Name:
    <input type="text" name="name" value="{{customername}}">
  </label>

  <label for="number" class="form-item">
    Number:
    <input type="text" name="number" value="{{number}}">
  </label>

  <label for="sauce" class="form-item">
    Sauce:
    <input type="text" name="sauce" value="{{sauce}}">
  </label>

  <input type="submit" name="" value="Place Order">
</form>
